html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color:#000;
    background-attachment:fixed;
    background-repeat:no-repeat;
    font-size: 25px;
    height:100%;
    width:100%;
    margin: 0px;
}

* {
    box-sizing: border-box;
}

textarea, input, button {
    outline: none;
}

.window {
    width: 100%;
}
.window .terminal {
    padding: 4px;
    background-color: #23252f;
    height: 100%;
    color: rgb(255, 255, 255);
    font-family: "Source Code Pro", monospace;
    font-weight: 200;
    font-size: 16px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-y: auto;
}
.window .terminal::after {
    content: "|";
    animation: blink 1s steps(1) infinite;
}

.user {
    color: #5cb6a6;
}
.prompt {
    color: #277bf6;
}
.path {
    color: #f4f4f4;
}
.dir {
    color: #e2080a;
}

.contact {
    color: #dddddd;
    text-decoration: none;
}
.contact:hover {
    color: #ffffff;
}

.window {
    width: 100%;
}

.window .terminal {
    font-size: 12px;
}

.portfolio-banner {
    font-size: 7px;
}

@keyframes blink {
    50% {
        color: transparent;
    }
}

@media only screen and (min-width: 600px) {
    .window {
        width: 100%;
    }
    
    .window .terminal {
        font-size: 16px;
    }

    .portfolio-banner {
        font-size: 16px;
    }
}